# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django
*.log
db.sqlite3
*.pot
*.py[co]
*.sqlite3
*.mo

# Virtual Environment
venv/
env/
ENV/
*.env
*.venv

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db